@use 'variables' as v;
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background-color: v.$primario;
    font-family: v.$fuentePrincipal;
    line-height: 1.5;
    font-size: 2rem;
}
h1 {
    font-size: 4rem;   
}
h2 {
    font-size: 3.2rem;
}
h1, h2, h3 {
    text-align: center;
    color: v.$secundario;
}
p {
    color: v.$blanco;
    font-size: 1.8rem;
}
img {
    max-width: 100%;
}
a {
    font-size: 3rem;
    text-decoration: none
}